* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans';

}

/* Nav related style */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 200px;
}

.nav_title {
    color: #181818;
    font-size: 45px;
    font-weight: 800;
}

.mahmud_yellow {
    color: #FD6E0A;
}

nav ul {
    display: flex;
    align-items: center;

}

nav li {
    list-style: none;
    margin-right: 50px;
}

nav a {
    text-decoration: none;
    color: #474747;
}

.btn_primary {
    border-radius: 5px;
    background: #FD6E0A;
    border: none;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    padding: 18px 35px;
}

.btn_primary2 {
    background-color: #FFF8F3;
    border: 1px solid #FD6E0A;
    color: #FD6E0A;
    padding: 5px 10px;
    font-size: 20px;
    font-weight: 700;
    padding: 18px 35px;
    border-radius: 5px;
}


/* hedar related styles */
.header {
    background-color: #FFF8F3;
    background-image: url("../images/header_bg.png");
    background-repeat: no-repeat;
    background-position: bottom right;

}

.banner {
    padding: 30px 30px 0px 150px;
    display: flex;
    align-items: center;
    justify-content: space-between;

}

.banner_contant {
    max-width: 500px;
}

.banner .pro_picture {
    width: 500px;
    height: 600px;
}

.banner_greeting {
    font-size: 45px;
    font-weight: 400;
    font-style: normal;
    margin-bottom: 5px;
}

.banner_title {
    font-size: 65px;
    font-style: normal;
    font-weight: 700;
    margin-bottom: 20px;
}

.btn_primary {
    margin-top: 30px;
}

.about {
    padding: 130px;
    border-radius: 10px;
    background: rgba(253, 110, 10, 0.20);
    ;
    margin: 130px 0;

}

main {
    max-width: 1140px;
    margin: 0 auto;
}

main section {
    margin-top: 150px;
}

.section_title {
    color: #181818;
    text-align: center;

    font-size: 35px;

    font-weight: 700;

}

.about_container {
    padding: 20px 0px;
    display: flex;
    justify-content: space-around;
    /* align-items: center; */

}

.about_info {
    text-align: center;
}

#what_i_do_description {
    padding: 30px 155px;
    text-align: center;
}

.skill_container {
    display: flex;
    justify-content: space-around;
    gap: 25px;
}

.skill {
    padding: 30px;
    border-radius: 5px;
    background: #FFF;
    box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);


}

.skill_description {
    color: #757575;
}

.Resume_section {
    color: #181818;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
    padding-bottom: 50px;

}

.resume_title {
    color: #474747;
    font-size: 30px;
    font-style: normal;
    font-weight: 700;

}

.resume_item {
    color: #474747;
    font-size: 25px;
    font-weight: 700;

}

.resume_container_main {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
}

.download_cv_btn {
    text-align: center;
    position: relative;
}

#download_btn {
    text-align: center;
    padding-left: 55px;
}

.fa-download {
    position: absolute;
    margin-left: -180px;
    margin-top: 55px;
    padding-right: 25px;
    color: white;

}

.footer_title {
    color: #181818;
    text-align: center;

    font-size: 35px;
    font-style: normal;
    font-weight: 700;

}

.footer_main {
    margin: 0 auto;
}

.footer_container {
    display: flex;
   justify-content: space-evenly;
    gap: 100px;
    text-align: center;
    background: #FFF8F3;
    margin-top: 100px;
    /* margin: 0 auto; */
    padding: 130px 200px;
}

.footer {
    max-width: 1140px;
   
}

.input_style {
    width: 461px;
    height: 64px;
    padding: 0 5px;
    border: none;
}
.social_media img{
    margin-top: 20px;
    padding: 10px 15px;
}

.message {
    width: 460px;
    padding: 0 15px;
    border: none;
   
}

.input_paddig { 
    margin: 10px 0px;
}
.submit{
    text-align: left;
}